
.landing{
    display: flex;
    width: 100%;
    height: 100vh;
    color: aliceblue;
}

.landing article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landingDiv *{
    padding: .5rem;
}

.landing h1,
.landing h2{
    font-size: 3rem;
    text-shadow: 2px 2px 4px #333;
}

.landing p{
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px #333;
}

.landing hr {
    width: 70%;
}

.landingDiv{
    width: 70%;
    position: relative;
}

.landingDiv section{
    width: 70%;
}

.landingDiv span{
  background-image: linear-gradient(to right, rgb(68, 151, 199), rgb(123, 56, 161), rgb(212, 78, 73));
  border-radius: 6px;
  padding: 3px 6px;
}

.landingDiv button{
    opacity: 0;
    border-radius: 50px;
    animation: slideleft 2s 1.5s ease-in-out forwards;
    cursor: pointer;
}

.divButton{
    position: absolute;
    right: 0;
    top: 80%;
}

.viewLanding{
    animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
        0%{
            opacity: 0;
            transform: translateY(30px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
}

.viewSectionLanding div:nth-child(1){
    opacity: 0;
    animation: slideleft 2s 0.5s ease-in-out forwards;
}

.viewSectionLanding div:nth-child(2){
    opacity: 0;
    animation: slideleft 2s 1.5s ease-in-out forwards;
}

@keyframes slideleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 900px) {
    .landing h1,
    .landing h2{
        font-size: 5vw;
    }

    .landing p{
        font-size: medium;
    }
}
@media screen and (max-width: 570px) {
    .landing h1{
        font-size: 2rem;
    }

    .landing h2 {
        font-size: 1rem;
    }

    .landing p{
        font-size: medium;
    }
}