
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* margin-top: -5rem; */
}

.projects h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 1px 1px 3px #333;
    padding: 2rem;
}

.projects hr{
    background-color: #333;
    height: 3px;
    width: 300px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.divProjects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    border: solid 1px rgb(123, 56, 161);;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    border-radius: 6px;
    height: 350px;
    width: 350px;
    gap: 1rem;
}


.projects figure{
    position: relative;
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer ;
    margin-top: 15px;
}

.projects figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.projects figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom right, rgb(68, 151, 199, 0.8), rgb(123, 56, 161, 0.8), rgb(212, 78, 73, 0.8));
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}


.projects figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.capa{
    padding: 1rem;
}

.capa p{
    color: aliceblue;
}

.projects figure:hover > .capa .searchIcon{
    margin-top: 20px;
    margin-bottom: 15px ;
}

.projects figure .capa .searchIcon{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin: 30px;
}

.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
 

.projects button{
    margin-top: 2rem;
    height: 30px;
    border-radius: 30px;
    width: 30%;
}


.projects button:hover{
    transition: 0.5s;
    color: aliceblue;
}


.appear{
    opacity: 0;
    animation: slideInFromLeft 1s .5s ease-in-out forwards;
}

.marigabyFoods,
.promanitas{
    opacity: 0;
    animation:  slideFromLeft 1s  ease-in-out forwards;
}


@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translate(-40px, 40px);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0);
      }
  }

@media screen and (max-width: 1000px){


    .projects{
        padding-top: 500px;
        gap: 2rem;
    }
    .container{
        gap: 5rem
    }
}
@media screen and (max-width: 850px){


    .container{
        flex-direction: column;
       }
}

@media screen and (max-width: 450px){
    .capa{
        padding: .5rem;
        font-size: .9rem;
    }

    .projects{
        padding-top: 300px;
        gap: 2rem;
        margin-top: 0;
    }
    .container{
        gap: 5rem
    }

       .divProjects {
        height: 300px;
        width: 300px;
    }
    
    .projects figure{
        height: 150px;
        width: 250px;
    }

    .projects hr{
        width: 250px;
        height: 2px;
    }


    .projects h1{
        padding: 0;

    }
    
    
}