.navBar{
    height: 5rem;
    background-color: #7B2869;
    border-bottom: 1px solid #C85C8E;
    box-shadow: 5px 0 10px black;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
} 

.ulNavBar{
   display: flex;
   justify-content: flex-end;
   list-style: none;
   width: 60%;
}

.ulNavBar hr{
    display: none;
}


.active{
    display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 60%;   
}

.active li{
    padding: 1em;
    color: #f3a7cb;
    font-weight: 600;
    font-size: medium;
}

.selectLanguage {
    display: flex;
    align-items: center;
}

.firstSelect option{
    color: black;
}

.firstSelect :first-child{
    color: #f3a7cb;
}

.selectLanguage select{
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
    height: 2em;
    color: #f3a7cb;
}

.icon{
    color: #f3a7cb;
}

.navBar h2{
    color: #ffe8e8;
    margin-left: 5vw;
}

.menu button{
    background-color: transparent;
    border: none;
}

.ulNavBar li{
    padding: 1em;
    color: #f3a7cb;
    font-weight: 600;
    font-size: medium;
}

.ulNavBar li:hover{
    background-color: #69225a;
    transition: 0.5s;
    border-radius: 50%;
}

.ulNavBar li:active {
    box-shadow: 2px 2px 5px #FFBABA;
}

@media screen and (max-width: 770px) {
    .navBar li{
        font-size: 12px;
    }  
}

@media screen and (max-width: 640px) {
    .menu div{
        background-color:#f3a7cb;
        width: 35px;
        height: 3px;
        margin: 5px;
        border-radius: 10px;
    }

    .icon{
        display: none;
    }

    .ulNavBar{
        display: none;
    }

    .menu button{
        background-color: transparent;
        cursor: pointer;
        border: none;
    }
    
    .active hr{
        width: 80%;
        opacity: .5;
    }
    
    .active{
        transition: all 1s ease;
        position: fixed;
        background-color: rgba(25, 25, 25, .7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 5rem;
        width: 100vw;
        height: calc(100% - 5rem);
    }

    .active li{
        line-height: 4rem;
        color: #ffffff;
        font-size: 1.5rem;
    }

}

/* @media screen and (max-width: 858px) and (orientation: landscape){
    .ulNavBar span{
        margin: 5px 0 0 0;
    }

    .ulNavBar{
        overflow: scroll;
        height: calc(100px - 65px);
    }
} */