.navBar{
    height: 4.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    position: fixed;
    text-shadow: 1px 1px 3px #333;
    z-index: 99;
} 

/* .changeNav{
    background-color: #333;
    border-bottom: solid 2px rgb(123, 56, 161);
    transition: 3s ease-in-out;
} */

.navBar img{
    width: 100px;
    padding: 7px 0 0 0;
}

.ulNavBar div,
.ulNavBar{
   display: flex;
   justify-content: flex-end;
   list-style: none;
   width: 60%;
   cursor: pointer;
}

.ulNavBar hr{
    display: none;
}

.selectLanguage {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: slideright 1s 3s ease-in-out forwards;
}

@keyframes slideright {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.firstSelect option{
    color: black;
}

.firstSelect :first-child{
    color: #f3a7cb;
}

.selectLanguage select{
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
    height: 2em;
    color: #ffe8e8;
    font-size: medium;
    cursor: pointer;
}

.selectLanguage select:hover{
    color: #7a5cff;
    transition: .5s;
}

.icon{
    color: #ffe8e8;
}

.icon:hover{
    color: #7a5cff;
    transition: .5s;
}

.navBar h2{
    color: #ffe8e8;
    margin-left: 5vw;
    font-size: xx-large;
}

.menu button{
    background: #333;
    border: none;
}

.ulNavBar li,
.ulNavBar a{
    padding: .8em;
    color: #ffe8e8;
    font-size: large;
}


.ulNavBar li:hover{
    background-color:  rgba(0, 0, 0, 0.25); 
    border-radius: 30px;
    transition: .5s;
}

.ulNavBar a:hover{
    color: #7a5cff;
    transition: .5s ease;
}

.changeNav img{
    opacity: 0;
    animation: slideDown 1s .5s ease-in-out forwards;
}


#logo{
    /* opacity: 0;
    animation: slideleft 1s 2s ease-in-out forwards; */
    /* transition: .5s, color.10s; */ 
    transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    cursor: pointer;  
}

#logo:hover{
         transform: scale(1.1);
}

#li1{
    opacity: 0;
    animation: slideDown 1s  ease-in-out forwards;
}

#li2{
    opacity: 0;
    animation: slideDown 1s .5s ease-in-out forwards;
}

#li3{
    opacity: 0;
    animation: slideDown 1s 1s ease-in-out forwards;
}

#li4{
    opacity: 0;
    animation: slideDown 1s 1.5s ease-in-out forwards;
}

@keyframes slideleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 970px){
    .navBar{
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    .menu div{
        width: 35px;
        height: 3px;
        margin: 5px;
        border-radius: 10px;
        background-color: #ffe8e8;
        opacity: 0;
        animation: slideright 1s 1 2s ease-in-out forwards;
    }

    .icon{
        display: none;
    }

    .ulNavBar{
        display: none;
    }

    .menu button{
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .active{
        position: fixed;
        background-color: rgba(25, 25, 25, .7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 4.5rem;
        width: 100%;
        height: calc(100% - 4.5rem);
        list-style: none;
        animation: appear .5s ease-in-out forwards;
    }

    @keyframes appear {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
}

    .active li {
        line-height: 2.5rem;
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
        transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
        cursor: pointer;
    }

    .active li:hover{
        transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
    }

    .active a{
        font-size: 1.5rem;
    }

    .active hr{
        display: flex;
        width: 30%;
        color: aliceblue;
    }

    .selectLanguage select{
        font-size: small;
    }

    #li1{
        animation: none;
        opacity: 1;
    }
    
    #li2{
       animation: none;
       opacity: 1;
    }
    
    #li3{
        animation: none;
        opacity: 1;
    }
    
    #li4{
        animation: none;
        opacity: 1;
    }
}

