
.allSkills{
  width: 100%;
  height: 100vh;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20rem;
}

.skillsContainer{
  margin-top: 6.5rem;
}
 .allSkills h2{
  font-size: xx-large;
  color: aliceblue;
  text-shadow: 1px 1px 3px #333;
  text-align: center;
  margin: 5rem 0 5rem 0;
} 

.icon{
  color: aliceblue;
}

.skillsContainer img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;
}

.slide{
  transform: scale(0.3);
  transition: -webkit-transform 3s ease-out;
  opacity: 0.5;
}

.activeSlide{
  transform: scale(1.0);
  transition: -webkit-transform .8s ease-in-out;
  opacity: 1;
}

.icon {
  cursor: pointer;
  z-index: 10;
}

.icon:hover {
  transition: .5s ease-out;
  color: rgb(123, 56, 161);
}

.leftArrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .activeSlide{
    transform: scale(0.5);
  }
}