
.allSkills{
  width: 100%;
  height: 100vh;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .allSkills h2{
  font-size: xx-large;
  color: aliceblue;
  text-shadow: 1px 1px 3px #333;
  text-align: center;
  margin: 8rem 0 3rem 0;
} 

.icon{
  color: aliceblue;
}

.skillsContainer img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;
}

.slide{
  transform: scale(0.3);
  transition: -webkit-transform 3s ease-out;
  opacity: 0.5;
}

.activeSlide{
  transform: scale(1.0);
  transition: -webkit-transform .8s ease-in-out;
  opacity: 1;
}

.icon {
  cursor: pointer;
  z-index: 10;
}

.icon:hover {
  transition: .5s ease-out;
  color: rgb(123, 56, 161);
}

.icon .arrowNext{
 display: flex;
 align-items: center;
}

.icon .arrowPrev{
  position: absolute;
}
