.projectsFoods{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectsFoods div{
    padding: 1rem;
    position: relative;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    overflow-y: auto;
    background-color: aliceblue;
}

.isClose {
    display: none;
}

.modalClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}