body{
    background: -webkit-linear-gradient(bottom right, rgb(68, 151, 199), rgb(123, 56, 161), rgb(212, 78, 73));
    background-attachment:fixed;  
    background-repeat: none;
    object-fit: cover;
}


button{
    background: -webkit-linear-gradient(bottom right, rgb(68, 151, 199), rgb(123, 56, 161), rgb(212, 78, 73));
    font-weight: 600;
    font-size: medium;
    color: #1d1d1d;
}

button:hover{
    animation-name: swing;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}


@keyframes swing {
    20% {transform: rotate3d(0, 0, 1, 15deg);}
    40% {transform: rotate3d(0, 0, 1, -10deg);}
    60% {transform: rotate3d(0, 0, 1, 5deg);}
    80% {transform: rotate3d(0, 0, 1, -5deg);}
    to  {transform: rotate3d(0, 0, 1, 0deg);}
}

.backgroundLayer{
    background-color: rgba(0, 0, 0, 0.5);
}

.inViewHome{
    opacity: 0;
    animation: slideInFromLeft 2s ease-in-out forwards;
}

.inViewContact{
  opacity: 0;
  animation: slideInFromLeft 2s ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translate(-40px, -40px);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0);
      }
  }


@keyframes contactUp {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.divHola{
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
    border: solid 2px white;
    color: aliceblue;
}