@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@700&family=Dosis&family=Rampart+One&display=swap');

*{
   font-family: 'Abel', sans-serif;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Rampart One', cursive; */
    /* font-family: 'Amatic SC', cursive; */
  }
  

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} 
